<section class="my-32">
    <div class="flex flex-row font-light justify-center">
      <p class="text-6xl leading-none"><%= error.status %></p>
      <p class="flex flex-col self-end ml-5">
        <span class="text-4xl leading-tight"><%= message %></span>
      </p>
    </div>  
  </section>